.nfs*

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/
*.log
demo/model/*.onnx

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.log
# *.ts
model_ts*.txt

onnx models
*.onnx
*****.onnx
**.jpg
*.jpeg


# ipython/jupyter notebooks
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

# demo 
**/node_modules
yarn.lock
package-lock.json
