.use_img_operate_wrapper {
  display: flex;
  jusetify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  .use_img_operate {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30px;

    .btn {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      color: #008334;
      padding: 8px 10px;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #008334;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      cursor: pointer;
    }
    .active {
      background-color: #008334;
      color: #fff;
    }
    .crop_inner_label {
      .crop_inner_label_input {
        height: 45px;
        padding: 0 0 0 5px;
        display: flex;
        justify-items: flex-start;
        align-items: center;
        border-radius: 5px;
        height: 45px;
        border: 1px solid #555;
        margin-top: 20px;
      }
    }
  }
  .crop_inner_btn_content {
    margin-left: 40px;
  }
}
.use_img_mask_wrapper {
  height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  .use_img_mask {
    top: 0;
  }
}

.mask_wrapper {
  display: flex;
  justify-content: space-between;
}
.mask_img {
  flex: 1;
  display: flex;
  justify-content: center;
}
.hover_and_click_maskList {
  padding: 15px;
  margin-left: 25px;
  width: 300px;
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
}

.no_mask_data_test {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
