.crop_wrapper_content {
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
}
.crop_wrapper_content_center {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.crop_wrapper_content_right {
  padding-top: 80px;
  height: 100%;
  overflow-y: auto;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
}
.crop_item_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.crop_wrapper_content_left {
  margin: 10px;
}
.crop_btn_group_wrapper {
  padding: 30px 0;
  width: 100%;
  justify-content: center;
  display: flex;
  button {
    margin-right: 10px;
  }
  box-sizing: border-box;
}
.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}

.cropper_input_wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 400px;
  padding-left: 20px;
}
<style scoped > .container {
  display: flex;
}
.before {
  width: 100px;
  height: 100px;
  overflow: hidden;
  /* 这个属性可以得到想要的效果 */
}
.img-container {
  height: 400px;
  overflow: hidden;
}
.afterCropper {
  flex: 1;
  margin-left: 20px;
  border: 1px solid salmon;
  text-align: center;
}
.afterCropper img {
  width: 150px;
  margin-top: 30px;
}
