.imgList_wrapper {
  overflow: auto;
  .img_item_wrapper {
    width: 300px;
    height: 400px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    .img_item {
      width: 300px;
      height: 300px;
      padding: 0;
    }
    .img_item_btn {
      height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .img_item_use,
      .img_item_del {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        color: #fff;
        height: 30px;
        width: 100px;
        background-color: #008334;
        user-select: none;
        cursor: pointer;
      }
      .img_item_del {
        color: #fff;
        background-color: rgb(171, 28, 42);
      }
    }
  }
}

.imgList_item_wrapper {
  width: 300px;
  height: auto;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  .img_item {
    width: 300px;
    height: auto;
    padding: 0;
  }
  .img_item_btn {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .img_item_use,
    .img_item_del {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      color: #fff;
      height: 30px;
      width: 100px;
      background-color: #008334;
      user-select: none;
      cursor: pointer;
    }
    .img_item_del {
      color: #fff;
      background-color: rgb(171, 28, 42);
    }
  }
}
