.imageUploading_wrapper {
  display: flex;
  flex-direction: column;
  .upload__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.upload__image_btn {
  height: 50vh;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  color: #008334;
  border-radius: 5px;
  border: #008334 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  margin-top: 40px;
  font-family: sans-serif;
  text-align: center;
  color: #008334;
  margin-bottom: 20px;
}
